// SPDX-License-Identifier: GPL-2.0
/*
 * VAR-SOM-AM62
 *
 * Copyright (C) 2021-2022 Texas Instruments Incorporated - https://www.ti.com/
 * Copyright (C) 2024 Variscite Ltd. - https://www.variscite.com/
 */

/dts-v1/;

#include "k3-am625-var-som.dtsi"

/ {
	model = "Variscite VAR-SOM-AM62 on SOFINOR V3";

	aliases {
		ethernet0 = &cpsw_port1;
		ethernet1 = &cpsw_port2;
		mmc0 = &sdhci0;
		mmc1 = &sdhci1;
		mmc2 = &sdhci2;
		serial0 = &main_uart0;
		serial2 = &main_uart2;
		serial5 = &main_uart5;
		serial6 = &main_uart6;
		spi5 = &main_spi2;
		usb0 = &usb0;
		usb1 = &usb1;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&epwm1 0 1000000 PWM_POLARITY_NORMAL>;
		status = "okay";
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				      10 11 12 13 14 15 16 17 18 19
				      20 21 22 23 24 25 26 27 28 29
				      30 31 32 33 34 35 36 37 38 39
				      40 41 42 43 44 45 46 47 48 49
				      50 51 52 53 54 55 56 57 58 59
				      60 61 62 63 64 65 66 67 68 69
				      70 71 72 73 74 75 76 77 78 79
				      80 81 82 83 84 85 86 87 88 89
				      90 91 92 93 94 95 96 97 98 99
				      100>;
		default-brightness-level = <100>;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyS0,115200n8 earlycon=ns16550a,mmio32,0x02800000";
	};

	display {
		compatible = "lcdis,lds050wvla07201c040a";
		backlight = <&backlight>;
		status = "okay";

		port@0 {
			lcd_in0: endpoint {
				remote-endpoint = <&oldi_out0>;
			};
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		status = "okay";

		reset {
			label = "Reset";
			linux,code = <KEY_POWER>;//cursor up
			gpios = <&pca9555In 0 GPIO_ACTIVE_LOW>;
			wakeup-source;
			debounce-interval = <10>;  // Optional debounce (in ms)
		};
	};

	vdd_mmc1: regulator-3 {
		compatible = "regulator-fixed";
		regulator-name = "SD_power_en";
		pinctrl-names = "default";
		pinctrl-0 = <&vdd_mmc1_pins_default>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		enable-active-high;
		gpio = <&main_gpio0 30 GPIO_ACTIVE_HIGH>;
		status="okay";
	};

	vdd_sd_dv: regulator-4 {
		compatible = "regulator-gpio";
		regulator-name = "SD_voltage_sel";
		pinctrl-names = "default";
		pinctrl-0 = <&vdd_sd_dv_pins_default>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		gpios = <&main_gpio0 56 GPIO_ACTIVE_HIGH>;
		states = <1800000 0x0>,
				 <3300000 0x1>;
		status="okay";
	};
};

//pin 45 eqep0_A 23200000.counter
&eqep0 {
	pinctrl-names = "default";
	pinctrl-0 = <&eqep0_pins_default>;
	status = "okay";
};

// //pin 88 eqep2_A 23220000.counter
&eqep2{
	pinctrl-names = "default";
	pinctrl-0 = <&eqep2_pins_default>;
	status = "okay";
};

&cpsw3g {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_rgmii1_pins_default>;

	cpts@3d000 {
		/* MAP HW3_TS_PUSH to GENF1 */
		ti,pps = <2 1>;
	};
};

&cpsw_port2 {
	status = "disabled";
};

&dphy0 {
	status = "okay";
};

&dss {
	pinctrl-names = "default";
	pinctrl-0 = <&main_oldi0_pins_default>;
};

&dss_ports {
	#address-cells = <1>;
	#size-cells = <0>;

	/* VP1: LVDS Output (OLDI TX 0) */
	port@0 {
		reg = <0>;
		oldi_out0: endpoint {
			remote-endpoint = <&lcd_in0>;
		};
	};
};

&epwm1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_epwm1_pins_default>;
};

&mailbox0_cluster0 {
	mbox_m4_0: mbox-m4-0 {
		ti,mbox-rx = <0 0 0>;
		ti,mbox-tx = <1 0 0>;
	};

	mbox_r5_0: mbox-r5-0 {
		ti,mbox-rx = <2 0 0>;
		ti,mbox-tx = <3 0 0>;
	};
};

// I2C 0 should be commented to eqep2 works
&main_i2c0{
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c0_pins_default>;
	clock-frequency = <400000>;
};

&main_i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c1_pins_default>;
	clock-frequency = <400000>;
	status = "okay";

	/* DS1337 RTC module */
	rtc@68 {
		compatible = "dallas,ds1337";
		reg = <0x68>;
		status = "okay";
	};

	/* Capacitive touch controller SOFINOR*/
    capacitive_touch: gt911@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupt-parent = <&main_gpio1>;
		interrupts = <16 IRQ_TYPE_EDGE_FALLING>;

		pinctrl-names = "default";
		pinctrl-0 = <&touchrst_pins_default &touch_irq_pins_default>;

		irq-gpios = <&main_gpio1 16 GPIO_ACTIVE_LOW>;
		reset-gpios = <&main_gpio1 17 GPIO_ACTIVE_LOW>;

		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;

		wakeup-source;
		status = "okay";
	};

	eeprom: br24g04@54 {
		compatible = "atmel,24c04";
		reg = <0x54>;
		pagesize = <16>;
		status = "okay";
	};
};

&wm8904 {
	status = "disabled";
};

&mcasp1 {
	status = "disabled";
};

// I2C#B sur dev kit
&main_i2c2 {
	clock-frequency = <100000>; //change it to 100kHz to work correctly with p82b715dr
	// ti,ads7828
	adc: ads7828@48 {
		compatible = "ti,ads7828";
		reg = <0x48>;

		ti,ext_vref;      /* Optional: Use external reference if set */
		ti,vref_mv = <2500>;

		status = "okay";
	};

	/* GPIO expander */
	pca9555Out: pca9555Out@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
		gpio-controller;
		pinctrl-names = "default";
		#gpio-cells = <2>;
		status = "okay";

		gpio-line-names = "CTRL_OUT-1", "CTRL_OUT-2", "CTRL_OUT-3", "CTRL_OUT-4", "CTRL_OUT-5", "CTRL_OUT-6", "CTRL_OUT-7", "CTRL_OUT-8", "CTRL_OUT-9", "CTRL_OUT-10", "CTRL_OUT-11", "CTRL_OUT-12", "CTRL_OUT-13", "CTRL_OUT-14", "DIR-VERIN", "DIR-MOTEUR";

		ctrl_out_1 {
			output-low;
			line-name = "ctrl-out-1";                 // Label for the LED
			gpios = <&pca9555Out 0 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_2 {
			output-low;
			line-name = "ctrl-out-2";                 // Label for the LED
			gpios = <&pca9555Out 1 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_3 {
			output-low;
			line-name = "ctrl-out-3";                 // Label for the LED
			gpios = <&pca9555Out 2 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_4 {
			output-low;
			line-name = "ctrl-out-4";                 // Label for the LED
			gpios = <&pca9555Out 3 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_5 {
			output-low;
			line-name = "ctrl-out-5";                 // Label for the LED
			gpios = <&pca9555Out 4 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_6 {
			output-low;
			line-name = "ctrl-out-6";                 // Label for the LED
			gpios = <&pca9555Out 5 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_7 {
			output-low;
			line-name = "ctrl-out-7";                 // Label for the LED
			gpios = <&pca9555Out 6 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_8 {
			output-low;
			line-name = "ctrl-out-8";                 // Label for the LED
			gpios = <&pca9555Out 7 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_9 {
			output-low;
			line-name = "ctrl-out-9";                 // Label for the LED
			gpios = <&pca9555Out 8 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_10 {
			output-low;
			line-name = "ctrl-out-10";                 // Label for the LED
			gpios = <&pca9555Out 9 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_11 {
			output-low;
			line-name = "ctrl-out-11";                 // Label for the LED
			gpios = <&pca9555Out 10 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_12 {
			output-low;
			line-name = "ctrl-out-12";                 // Label for the LED
			gpios = <&pca9555Out 11 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_13 {
			output-low;
			line-name = "ctrl-out-13";                 // Label for the LED
			gpios = <&pca9555Out 12 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		ctrl_out_14 {
			output-low;
			line-name = "ctrl-out-14";                 // Label for the LED
			gpios = <&pca9555Out 13 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		dir_motor_1 {
			output-low;
			line-name = "dir-motor-1";                 // Label for the LED
			gpios = <&pca9555Out 14 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

		dir_motor_2 {
			output-low;
			line-name = "dir-motor-2";                 // Label for the LED
			gpios = <&pca9555Out 15 GPIO_ACTIVE_HIGH>;// GPIO0 pin 38 (active low PNP)
		};

	};
	
	pca9555In: pca9555In@21 {
		compatible = "nxp,pca9555";
		reg = <0x21>;
		gpio-controller;
		pinctrl-names = "default";
		pinctrl-0 = <&pca9555_irq_default>;
		interrupt-parent = <&main_gpio1>;
		interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
		#gpio-cells = <2>;
		wakeup-source;
		status = "okay";

		gpio-line-names = "RESET", "CONN_IN-1", "CONN_IN-2", "CONN_IN-3", "CONN_IN-4", "CONN_IN-5", "CONN_IN-6", "CONN_IN-7", "CONN_IN-11", "CONN_IN-10", "CONN_IN-9", "CONN_IN-8", "BUZZER", "ON_OFF-VERIN", "ON_OFF-MOTEUR", "CONN_IN-12";

		in1 {
			line-name = "CONN_IN-1";
			gpios = <&pca9555In 1 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in2 {
			line-name = "CONN_IN-2";
			gpios = <&pca9555In 2 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in3 {
			line-name = "CONN_IN-3";
			gpios = <&pca9555In 3 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in4 {
			line-name = "CONN_IN-4";
			gpios = <&pca9555In 4 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in5 {
			line-name = "CONN_IN-5";
			gpios = <&pca9555In 5 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in6 {
			line-name = "CONN_IN-6";
			gpios = <&pca9555In 6 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in7 {
			line-name = "CONN_IN-7";
			gpios = <&pca9555In 7 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in11 {
			line-name = "CONN_IN-11";
			gpios = <&pca9555In 8 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in10 {
			line-name = "CONN_IN-10";
			gpios = <&pca9555In 9 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in9 {
			line-name = "CONN_IN-9";
			gpios = <&pca9555In 10 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		in8 {
			line-name = "CONN_IN-8";
			gpios = <&pca9555In 11 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};

		buzzer {
			gpios = <&pca9555In 12 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "buzzer";
		};

		onoffmotor1 {
			gpios = <&pca9555In 13 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "on-off-motor-1";                 // Label for the LED
		};

		onoffmotor2 {
			output-low;
			gpios = <&pca9555In 14 GPIO_ACTIVE_HIGH>;
			line-name = "on-off-motor-2";                 // Label for the LED
		};

		in12 {
			line-name = "CONN_IN-12";
			gpios = <&pca9555In 15 GPIO_ACTIVE_HIGH>;
			wakeup-source;
			input;
		};
	};

	mgc3030@42 {
		compatible = "slice,mgc3030";
		reg = <0x42>;
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&mgc3030_pins_default>;

		ts-gpio = <&main_gpio1 25 0>; //GPIO_ACTIVE_HIGH is 0
		mclr-gpio = <&main_gpio1 24 0>;
	};
};

&main_spi0_pins_default{
	pinctrl-single,pins = <>;
};

&main_mcasp1_pins_default{
	pinctrl-single,pins = <>;
};


&main_pmx0 {
	pinctrl-names = "default";
	pinctrl-0 = <&future_irq_default &mgc3030_detect_default>;

    // TS and MCLR for MGC3030
	mgc3030_pins_default: mgc3030-default-pins {
		pinctrl-single,pins = <
		AM62X_IOPAD(0x01d8, PIN_OUTPUT, 7) /* (C15) MCAN0_TX.GPIO1_24 */ /*MGC3030 MCLR*/
		AM62X_IOPAD(0x01dc, PIN_INPUT, 7) /* (E15) MCAN0_RX.GPIO1_25 */ /*MGC3030 TS*/
		>;
	};

	// when connected pulled up by the pcb
	mgc3030_detect_default: mgc3030-detect-default-pins {
		pinctrl-single,pins = <
		AM62X_IOPAD(0x0190, PIN_INPUT_PULLDOWN, 7) /* (AE22) RGMII2_RD3.GPIO1_6 */
		>;
	};

	//touch reset pin
	touchrst_pins_default: touchrst-default-pins {
		pinctrl-single,pins = <AM62X_IOPAD(0x01bc, PIN_OUTPUT, 7) /* (A14) SPI0_CLK.GPIO1_17 */>;
	};

	//touch interrupt pin
	touch_irq_pins_default: touch-irq-default-pins {
		pinctrl-single,pins = <AM62X_IOPAD(0x01b8, PIN_INPUT, 7) /* (C13) SPI0_CS1.GPIO1_16 */>;
	};

	//Interrupt for Input GPIO Expander
	pca9555_irq_default: pca9555_irq_default {
		pinctrl-single,pins = <AM62X_IOPAD(0x01b4, PIN_INPUT, 7) /* (A13) SPI0_CS0.GPIO1_15 */>;
	};

	// //Interrupt for Future Input GPIO Expander
	future_irq_default: future_irq_default {
		pinctrl-single,pins = <
		AM62X_IOPAD(0x01c4, PIN_INPUT, 7) /* (B14) SPI0_D1.GPIO1_19 */
		>;
	};

	//pin 45
	eqep0_pins_default: eqep0-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0194, PIN_INPUT, 8) /* (B19) MCASP0_AXR3.EQEP0_A */
		>;
	};

	// // pin 71
	eqep2_pins_default: eqep2-default-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x018c, PIN_INPUT, 8) /* (AC21) RGMII2_RD2.EQEP2_A */
		>;
	};

	main_epwm1_pins_default: main-epwm1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x019c, PIN_OUTPUT, 6) /* (B18) MCASP0_AXR1.EHRPWM1_A */
		>;
	};

	main_i2c0_pins_default: main-i2c0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x1e0, PIN_INPUT_PULLUP, 0) /* (B16) I2C0_SCL */
			AM62X_IOPAD(0x1e4, PIN_INPUT_PULLUP, 0) /* (A16) I2C0_SDA */
		>;
	};

	main_i2c1_pins_default: main-i2c1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x1e8, PIN_INPUT_PULLUP, 0) /* (B17) I2C1_SCL */
			AM62X_IOPAD(0x1ec, PIN_INPUT_PULLUP, 0) /* (A17) I2C1_SDA */
		>;
	};

	main_mmc1_pins_default: main-mmc1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x23c, PIN_INPUT, 0) /* (A21) MMC1_CMD */
			AM62X_IOPAD(0x234, PIN_INPUT, 0) /* (B22) MMC1_CLK */
			AM62X_IOPAD(0x230, PIN_INPUT, 0) /* (A22) MMC1_DAT0 */
			AM62X_IOPAD(0x22c, PIN_INPUT, 0) /* (B21) MMC1_DAT1 */
			AM62X_IOPAD(0x228, PIN_INPUT, 0) /* (C21) MMC1_DAT2 */
			AM62X_IOPAD(0x224, PIN_INPUT, 0) /* (D22) MMC1_DAT3 */
			AM62X_IOPAD(0x240, PIN_INPUT, 0) /* (D17) MMC1_SDCD */
		>;
	};

	main_oldi0_pins_default: main-oldi0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0260, PIN_INPUT, 0) /* (AA5) OLDI0_A0N */
			AM62X_IOPAD(0x025c, PIN_OUTPUT, 0) /* (Y6) OLDI0_A0P */
			AM62X_IOPAD(0x0268, PIN_OUTPUT, 0) /* (AD3) OLDI0_A1N */
			AM62X_IOPAD(0x0264, PIN_OUTPUT, 0) /* (AB4) OLDI0_A1P */
			AM62X_IOPAD(0x0270, PIN_OUTPUT, 0) /* (Y8) OLDI0_A2N */
			AM62X_IOPAD(0x026c, PIN_OUTPUT, 0) /* (AA8) OLDI0_A2P */
			AM62X_IOPAD(0x0278, PIN_OUTPUT, 0) /* (AB6) OLDI0_A3N */
			AM62X_IOPAD(0x0274, PIN_OUTPUT, 0) /* (AA7) OLDI0_A3P */
			AM62X_IOPAD(0x0280, PIN_OUTPUT, 0) /* (AC6) OLDI0_A4N */
			AM62X_IOPAD(0x027c, PIN_OUTPUT, 0) /* (AC5) OLDI0_A4P */
			AM62X_IOPAD(0x0288, PIN_OUTPUT, 0) /* (AE5) OLDI0_A5N */
			AM62X_IOPAD(0x0284, PIN_OUTPUT, 0) /* (AD6) OLDI0_A5P */
			AM62X_IOPAD(0x0290, PIN_OUTPUT, 0) /* (AE6) OLDI0_A6N */
			AM62X_IOPAD(0x028c, PIN_OUTPUT, 0) /* (AD7) OLDI0_A6P */
			AM62X_IOPAD(0x0298, PIN_OUTPUT, 0) /* (AD8) OLDI0_A7N */
			AM62X_IOPAD(0x0294, PIN_OUTPUT, 0) /* (AE7) OLDI0_A7P */
			AM62X_IOPAD(0x02a0, PIN_OUTPUT, 0) /* (AD4) OLDI0_CLK0N */
			AM62X_IOPAD(0x029c, PIN_OUTPUT, 0) /* (AE3) OLDI0_CLK0P */
			AM62X_IOPAD(0x02a8, PIN_OUTPUT, 0) /* (AE4) OLDI0_CLK1N */
			AM62X_IOPAD(0x02a4, PIN_OUTPUT, 0) /* (AD5) OLDI0_CLK1P */
		>;
	};

	main_uart0_pins_default: main-uart0-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x1c8, PIN_INPUT, 0) /* (D14) UART0_RXD */
			AM62X_IOPAD(0x1cc, PIN_OUTPUT, 0) /* (E14) UART0_TXD */
		>;
	};

	main_uart2_pins_default: main-uart2-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x005c, PIN_INPUT_PULLUP, 2) /* (R24) GPMC0_AD8.UART2_RXD */
			AM62X_IOPAD(0x0060, PIN_OUTPUT, 2) /* (R25) GPMC0_AD9.UART2_TXD */
		>;
	};

	// main_uart6_pins_default: main-uart6-pins-default {
	// 	pinctrl-single,pins = <
	// 		AM62X_IOPAD(0x009c, PIN_INPUT, 3) /* (V25) GPMC0_WAIT1.UART6_RXD */
	// 		AM62X_IOPAD(0x0244, PIN_OUTPUT, 1) /* (C17) MMC1_SDWP.UART6_TXD */
	// 	>;
	// };

    main_usb0_pins_default: main-usb0-pins-default {
		pinctrl-single,pins = <AM62X_IOPAD(0x0254, PIN_OUTPUT, 0) /* (C20) USB0_DRVVBUS */>;
	};

	vdd_mmc1_pins_default: vdd-mmc1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0078, PIN_OUTPUT, 7) /* (U24) GPMC0_AD15.GPIO0_30 */
		>;
	};

	vdd_sd_dv_pins_default: vdd-sd-dv-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x00e4, PIN_OUTPUT, 7) /* (AA23) VOUT0_DATA11.GPIO0_56 */
		>;
	};
};

&main_spi0 {
	status = "disabled";
};

&main_spi2 {
	status = "disabled";
};

&main_uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart0_pins_default>;
};

&main_uart1 {
	/* Main UART1 is used by TIFS firmware */
	status = "reserved";
};

&main_uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart2_pins_default>;
	status = "okay";
};

&main_uart6 {
	// pinctrl-names = "default";
	// pinctrl-0 = <&main_uart6_pins_default>;
	status = "disabled";
};

&mcu_gpio0 {
	status = "reserved";
};

&mcu_gpio_intr {
	status = "reserved";
};

&mcu_m4fss {
	mboxes = <&mailbox0_cluster0 &mbox_m4_0>;
	memory-region = <&mcu_m4fss_dma_memory_region>,
			<&mcu_m4fss_memory_region>;
};

&mcu_rti0 {
	/* MCU RTI0 is used by M4F firmware */
	status = "reserved";
};

&sdhci1 {
	/* SD Card */
	vmmc-supply = <&vdd_mmc1>;
	vqmmc-supply = <&vdd_sd_dv>;
	pinctrl-names = "default";
	pinctrl-0 = <&main_mmc1_pins_default>;
	disable-wp;
	status="okay";
};

&ti_csi2rx0 {
	status = "okay";
};

#define K3_TS_OFFSET(pa, val)	(0x4+(pa)*4) (0x10000 | val)

&timesync_router {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&cpsw_cpts>;

	/* Use Time Sync Router to map GENF1 input to HW3_TS_PUSH output */
	cpsw_cpts: cpsw-cpts {
		pinctrl-single,pins = <
			/* pps [cpsw cpts genf1] in17 -> out12 [cpsw cpts hw3_push] */
			K3_TS_OFFSET(12, 17)
			>;
	};
};

&usb0 {
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&main_usb0_pins_default>;
	status = "okay";
};

&usb1 {
	status = "disabled";
};

&usbss0 {
	status = "okay";
};

&usbss1 {
	status = "disabled";
};

&wkup_r5fss0_core0 {
	mboxes = <&mailbox0_cluster0 &mbox_r5_0>;
	memory-region = <&wkup_r5fss0_core0_dma_memory_region>,
			<&wkup_r5fss0_core0_memory_region>;
};

&wkup_rtc0 {
	status = "disabled";
};

&wkup_rti0 {
	/* WKUP RTI0 is used by DM firmware */
	status = "reserved";
};

&wkup_uart0 {
	/* WKUP UART0 is used by DM firmware */
	status = "reserved";
};
